# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Sphinx build artifacts
docs/build/
docs/_build/

# Environment files
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Python virtual environments
venv/
.env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Read the Docs build artifacts
.rtd-environment.yml
